nav div {
    padding: 6px;
    margin: 5px;
    font-size: 14px;
}

.nav_link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.nav_img:hover {
    background-color: #515151;
    border-radius: 50%;
}
input {
    all: unset;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
}

.search_bar {
    display: flex; 
    border: 1px solid #5f6368; 
    border-radius: 40px; 
    width: 100%;
    max-width: 584px;
    padding: 10px;
    margin-top: 30px;
}

.search_bar:hover {
    background-color: #303134;
    border: 1px solid #202124 !important;
    -webkit-box-shadow: -1px 4px 15px -10px #000000; 
    box-shadow: -1px 4px 15px -10px #000000;
}
button {
    all: unset;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    border: 1px solid #202124;
    background-color: #303134;
}
button:hover {
    border: 1px solid #6e6e6e;
}
.google_offer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

footer div .links div {
    padding: 10px;
}

footer div .links2 div {
    padding: 10px;
}

footer {
    color: #9aa0a6;
    font-size: 15px;
}
.links div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.links2 div:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 785px) {
    .footer_links {
        justify-content: space-evenly;
    }
  }

@media only screen and (max-width: 500px) {
    .links {
        flex-wrap: wrap;
        justify-content: space-evenly;

    }
}

@media only screen and (max-width: 584px) {
    .search_bar {
        width: 80%;
     }
}